@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 12vh;
  font-size: 2.5em;
  letter-spacing: 3.5px;
  color: #211007;
}

p {
  font-family: 'Quicksand', sans-serif;
}



#grid {
  height: 90vh;
}
